@using RafaelaColabora.Services
@using Microsoft.AspNetCore.Http;

@inject CategoriesService _categoryService

<EditForm Model="@post" OnValidSubmit="@OnValidSubmit" enctype="multipart/form-data">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>UserId:</label>
        <div>
            <input type="text" class="form-control" disabled value="@FKUsername" />
            <ValidationMessage For="@(() => post.UserId)" />
        </div>
    </div>
    <div class="form-group">
        <label>Categoria:</label>
        <div>
            <select @bind="post.CategoryId" class="form-control">
                <option value="">Seleccione una opcion:</option>
                @if (categories != null)
                {
                    @foreach (var category in categories)
                    {
                        <option value=@category.Id>@category.Description</option>
                    }
                }
            </select>
            <ValidationMessage For="@(() => post.CategoryId)" />
        </div>
    </div>
    <div class="form-group">
        <label>Descripcion:</label>
        <div>
            <InputText class="form-control" @bind-Value="@post.Description" />
            <ValidationMessage For="@(() => post.Description)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Links:</label>
            <div>
                <InputText class="form-control" @bind-Value="@post.Links" />
                <ValidationMessage For="@(() => post.Links)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Phone:</label>
            <div>
                <InputText class="form-control" @bind-Value="@post.Phone" />
                <ValidationMessage For="@(() => post.Phone)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>AlternativePhone:</label>
            <div>
                <InputText class="form-control" @bind-Value="@post.AlternativePhone" />
                <ValidationMessage For="@(() => post.AlternativePhone)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>AlternativeEmail:</label>
            <div>
                <InputText class="form-control" @bind-Value="@post.AlternativeEmail" />
                <ValidationMessage For="@(() => post.AlternativeEmail)" />
            </div>
        </div>
    </div>
    <div class="form-group" style="width: 100%">
        <label asp-for="Photo" style="width: 100%;"></label>
        <img id="profilePicture" style="width:100%;height:350px; object-fit: cover" src="https://i.stack.imgur.com/l60Hf.png">
        <input type="file"
               accept=".png,.jpg,.jpeg,.gif,.tif"
               asp-for="@PhotoToConvert"
               class="form-control mt-3"
               onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
        @*<InputFile OnChange="OnInputFileChange" multiple />*@
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>

@code {
    [Parameter] public Post post { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public string FKUsername { get; set; }
    public List<Category> categories { get; set; }
    public IFormFile PhotoToConvert { get; set; }

    protected override async Task OnInitializedAsync()
    {
        categories = await _categoryService.GetCategories();
    }

    //async Task ConvertPhoto()
    //{
    //    posts = await _postsService.SearchPosts(SearchValue);
    //}
}
