@model IEnumerable<RafaelaColabora.Models.Post>

@{
    ViewData["Title"] = "Rafaela Colabora";
}

<h1>Rafaela Colabora</h1>

@using (Html.BeginForm("Index", "Posts", FormMethod.Post, new { @class = "d-flex" }))
{
    <div class="input-group">
        @Html.TextBox("cadena", "", new { @class = "form-control my-0 py-1 lime-border", @placeholder = "Search", @ariaLabel = "Search" })
        <div class="input-group-append mr-3">
            <span class="input-group-text">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary my-2 my-sm-0">Buscar</button>
}
<br>
<p>
    <a asp-action="Create" class="btn btn-primary">Nueva publicación</a>
</p>


@foreach (var item in Model)
{
    <div class="card border-light mb-3">
        <div class="card-header">
            <h5>
                @Html.DisplayFor(modelItem => item.User.UserName)
                <br>
                Configurar TimeAgo
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </h5>
        </div>
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Description)</h4>
            <p class="card-text">Estado: @Html.DisplayFor(modelItem => item.State)</p>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@

            <a asp-action="Details" asp-route-id="@item.Id" style=" margin-right: 1rem; text-decoration: none;">
                <i class="fa fa-eye" style="font-size:22px;" aria-hidden="true"></i>
            </a>
            <a asp-action="Edit" asp-route-id="@item.Id" style=" margin-right: 1rem; text-decoration: none;">
                <i class="fa fa-pencil-alt" style="font-size:22px;" aria-hidden="true"></i>
            </a>
            <a asp-action="Delete" asp-route-id="@item.Id" style=" margin-right: 1rem; text-decoration: none;">
                <i class="fa fa-trash-alt" style="font-size:22px;" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <br>
}
