@model IEnumerable<RafaelaColabora.Models.Post>

@{
    ViewData["Title"] = "Rafaela Colabora";
}

<h1>Feed</h1>

<div class="pull-right">
    @using (Html.BeginForm("Index", "Posts", FormMethod.Post))
    {
        <div>
            @Html.TextBox("cadena", "", new { @class = "form-control" })
            <button type="submit" class="btn-danger">Buscar</button>
        </div>
    }

</div>

<br>
<p>
    <a asp-action="Create" class="btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Links)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.AlternativePhone)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.AlternativeEmail)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Category.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Links)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.AlternativePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlternativeEmail)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
