

@model IEnumerable<RafaelaColabora.Models.Post>

@{
    ViewData["Title"] = "Rafaela Colabora";
}

<h1>Rafaela Colabora</h1>

<div class="pull-right">
    @using (Html.BeginForm("Index", "Posts", FormMethod.Post))
    {
        <div>
            @Html.TextBox("cadena", "", new { @class = "form-control" })
            <button type="submit" class="btn-danger">Buscar</button>
        </div>
    }

</div>

<br>
<p>
    <a asp-action="Create" class="btn btn-primary">Nueva publicación</a>
</p>


@foreach (var item in Model)
{
    <div class="card">
        <h5 class="card-header">
            @Html.DisplayFor(modelItem => item.User.UserName)
            <br>
            Configurar TimeAgo
            @Html.DisplayFor(modelItem => item.CreatedAt)

        </h5>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Description)</h5>
            <p class="card-text">Estado: @Html.DisplayFor(modelItem => item.State)</p>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Ver detalles</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </div>
    </div>
    <br>
}
